@font-face {
    font-family: Montserrat;
    src: url("./Fonts/Montserrat-Light.otf");
}

* {padding: 0px; margin: 0px;}
body {width: 100%; text-align: center; font-family: Montserrat; background: #FFFFFF; color: #313131}

h1 {font-size: 65px; font-weight: lighter; background: -webkit-linear-gradient(165deg, #FEA431 , #E3531E, #C60100 ); -webkit-background-clip: text; -webkit-text-fill-color: transparent}
h2 {font-size: 20px; font-weight: lighter}
h3 {font-size: 35px; margin-bottom: 40px; font-weight: lighter; border-left: 3px solid #E3531E; width: fit-content; padding: 5px 15px}
h4 {font-size: 20px; font-weight: lighter; background: -webkit-linear-gradient(165deg, #FEA431 , #E3531E, #C60100 ); -webkit-background-clip: text; -webkit-text-fill-color: transparent}
h5 {font-size: 25px; font-weight: lighter}
p {font-size: 15px; color: #555555}

.body1 {height: 100vh;}
.section2 {background: #F5F5F5; padding-bottom: 50px}
.section3 {padding-bottom: 50px;}
.section4 {background: #F5F5F5}

.main_overlay {
    position: absolute;
    top: 20%;
    width: 100%;
    height: 80%;
    background: linear-gradient(#fff, transparent 20%, transparent 95%, #fff );
    z-index: -1;
}

/*  MENU  */

.logo {
    position: relative;
    top: 10%;
    height: 80%;
    margin: 0px 20px;
}
.nav {
    position: relative;
    height: 20%;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.05);
}
.nav a {
    text-decoration: none;
    color: #313131;
    font-size: 17px;
    display: inline-block;
    padding: 5px 0px;
    margin: 0px 20px;
    width: 150px;
    transition: .2s ease-in-out;
    border: 1px solid transparent;
}
.nav a:hover {
    color: #E3531E;
}
#current {
    border: 1px solid #E3531E;
}
#current:hover {
    border: 1px solid transparent;
}

#slideshow {
    z-index: -2;
    position:relative;
    height: 80%;
    width: 100%;
}
#slideshow .slide {
    position:absolute;
    z-index:8;
    opacity:0.0;
}
#slideshow div.active {
    z-index:10;
    opacity:1.0;
}
#slideshow div.last-active {
    z-index:9;
}
.slide {
    width: 100%;
    height: 100%;
}
.slide_overlay {
    height: 100%;
    width: 100%;
    background: rgba(256,256,256,0.5);
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    max-width: 700px;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-left: 3px solid;
    border-image: linear-gradient(to bottom, #C60100, #E3531E, #FEA431) 1 100%;
}
#picture1,.section3 {
    background-image: url("./Backgrounds/1.png");
    background-repeat: no-repeat;
    background-position: 50% 35%;
    background-size: cover;
}
#picture2 {
    background-image: url("./Backgrounds/2.png");
    background-repeat: no-repeat;
    background-position: 50% 60%;
    background-size: cover;
}
#picture3 {
    background-image: url("./Backgrounds/3.png");
    background-repeat: no-repeat;
    background-position: 50% 30%;
    background-size: cover;
}
.main_title {
    padding: 20px 0px;
    opacity: .8;
}
.second_title {
    margin-top: 5%;
    padding: 10px 0px;
    opacity: .8;
    height: 50px;
}

/* SECTION */


.article {
    width: 60%;
    padding: 50px 0px;
    margin: auto;
    text-align: left;
}
.article_block {
    width: 49%;
    display: table-cell;
    vertical-align: top;
}

.article_image {
    width: 100%;
}
.application_image {
    width: 50%;
    position: relative;
    left: 25%;
}
#block_special {
    margin-top: 50px;
}
.article_block3 {
    padding: 5%;
    text-align: center;
}
.article_block2 {
    width: 30%;
    display: inline-block;
    background: #fff;
    margin: 0px 10px;
    text-align: center;

    -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.2);
}
.article_block4 {
    width: 30%;
    display: inline-block;
    background: #fff;
    margin: 0px 10px;
    text-align: center;
    transition: .2s;

    -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.4);
}
.article_block4:hover {
    transform: scale(0.95);
}
.article_block3 hr {
    margin: 5px 0px;
}
.article_block3 p {
    font-weight: bold;
}
.article_block2 img,h4,p {
    width: 100%;
    margin: 5px 0px;
}
.article_block4 img,h4,p {
    width: 100%;
}
.article_h4 {
    padding: 10px 0px;
}


.button {
    margin-top: 50px;
    display: block;
    width: 200px;
    padding: 10px 0px;
    background: linear-gradient(165deg,#C60100, #E3531E 20%, #FEA431);
    border-radius: 5px;
    text-align: center;
    color: #fff;
    font-size: 22px;
    font-weight: lighter;
    text-decoration: none;

    -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.3);
}
.button:hover {
    background: linear-gradient(165deg,#C60100, #E3531E 20%, #FEA431 80%);
}
#button2 {
    margin: auto;
}

.companies_table {
    position: relative;
    left: 10%;
    width: 80%;
}
.companies_table img {
    width: 200px;
}
.companies_table_text {
    padding-left: 50px;
}
.companies_table tr {
    display: block;
}
.companies_tr {
    border-bottom: 1px solid #313131;
}

#table2 {
    margin: auto;
}
#table2 h4 {
    font-size: 25px;
    margin-bottom: 20px;
}
#table2 a {
    color: #313131;
    transition: .1s;
}
#table2 a:hover {
    opacity: .7;
}


/*  CONTACT  */

input[type='text'],textarea {
    padding: 7px 10px;
    width: 500px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid #9b9b9b;
}
textarea {
    height: 120px;
    resize: none;
}
::-webkit-input-placeholder {
    color: #9b9b9b;
}

#button_special {
    padding: 5px 0px;
    width: 150px;
    margin: 10px 0px 50px 0px;
}




/* FOOTER */

.footer {
    background: #313131;
    padding: 50px 0px;
}
.footer_main {
    position: relative;
    left: 20%;
    width: 60%;
}
.footer h5 {color: #EBEBEB}
.footer p {color: #ABABAB}

.footer_block {
    display: table-cell;
    width: 25%;
}
.footer_center {
    width: fit-content;
    max-width: 80%;
    margin: auto;
    text-align: left;
}

.footer_center h5{
    margin-bottom: 20px;
    border-bottom: 1px solid #4A4A4A;
    padding-bottom: 10px;
}
.footer_center li{
    list-style-type: none;
    margin: 8px 0px;
}
.footer_center a,.table1 a  {
    text-decoration: none;
    color: #ABABAB;
    transition: .1s;
}
.footer_center a:hover,.table1 a:hover {
    opacity: .8;
}
.socialmedia_logo {
    height: 20px;
}
.table1 td{
    padding: 3px;
}